# Copy to config/secrets.yaml and fill in NTRIP credentials.
# config/secrets.yaml is gitignored.

septentrio_gnss_driver:
  ros__parameters:
    rtk_settings:
      ntrip_1:
        caster: "nrtk-swepos.lm.se"
        caster_port: 8500
        username: "your_username"
        password: "your_password"
        mountpoint: "MSM_GEC"
        version: "v2"
        send_gga: "auto"
        keep_open: true
